{% for item in deets %}
<h1>{{ item }}</h1>
{% endfor %}
<br>
<h1 style="color:blue"> 
MAIN APPLICATION PAGE
</h1>

<!-- 
*******************
******************* 
<h1 style="color:red"> 
ERROR = {{ errm }}
</h1>
 -->
******************* 
*******************
<h1 style="color:blue"> 
ANSWER = {{ result }}
</h1>
*******************
******************* 
<br>


<h3> 6. All Spanish Words</h3>
<form action="/all" method="post">
	<input type="submit" value="Submit">
</form>
<br>

<h3> 7. Prev and Next Words</h3>
<form action="/all2" method="post">
	<input type="submit" value="Submit">
</form>
<br>

<h3> 8. Bottom N words </h3>
<form action="/top2" method="post">
	<label>N value:</label>
	<input type="number" name="num" required><br>
	<input type="submit" value="Submit">
</form>
<br>

<h3> 9. Sentences with Date/Number in it </h3>
<form action="/bot" method="post">
	<input type="submit" value="Submit">
</form>
<br>

<h3> 10. Sentences with below string in it </h3>
<form action="/bot2" method="post">
	<label>String:</label>
	<input type="name" name="name" required><br>
	<input type="submit" value="Submit">
</form>
<br>

<!-- 

<h3> Top N words </h3>
<form action="/top" method="post">
	<label>Number:</label>
	<input type="number" name="num" required><br>
	<input type="submit" value="Submit">
</form>
<br>

<h3> Nth word </h3>
<form action="/word" method="post">
	<label>Enter the word to search</label>
	<input type="text" name="word" required><br>
	<label>Number:</label>
	<input type="number" name="num" required><br>
	<input type="submit" value="Submit">
</form>
<br>
 -->
<!-- <img src="https://elasticbeanstalk-us-east-2-484876011790.s3.us-east-2.amazonaws.com/mul.jpg" width=1000px /> -->
<br>
<br>