


<h1>Bindhu Shree Hadya Ravi</h1>
<h1>1001699836</h1>
<br>
<H3>Calculator</h3>

<p>Date Time: <span id="datetime"></span></p>

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>

<h1>Date and Time</h1>
{{datehere}}

 

<form action="calc" method="post">
<p> Input value X </p>
<input type="number" name = "numberuno" step=0.001 value="">
<p> Input value Y </p>
<input type="number" name = "numberdo" step=0.001 value="">
<p> Input one of the operators: +, -, *, /, %, !(First input value is considered, enter 0 in 2nd form) </p>
<input type="text" name = "op" value="">
<input type="submit" name="calc">
</form>

 

<h1>Result</h1>
{{result}}

<br>
<h1>Error</h1>
{{errm}}