<h1>Bindhu Shree Hadya Ravi</h1>
<h1>1001699836</h1>
<br>

<h3> {{ipaddr}} </h3>

<img src={{ "https://elasticbeanstalk-us-east-2-484876011790.s3.us-east-2.amazonaws.com/s.jpg" }}  height="200px">


<h1>5) BARQ Chart</h1>
<form action="barq_chart" method="post">
    <h4>Number of partitions</h4> 
    <input type = "number" name = "part" value = "">
    <h4>year</h4> 
    <input type = "number" name = "year" value = "">

    <input type="submit" name="line_chart_submit">
</form>
<br>

<h1>6) Partition (Pie Chart)</h1>
<form action="pieq_chart" method="post">
	<h4>R1</h4>
	<input type="text" name="r1" value="">
	<h4>R2</h4>
	<input type="text" name="r2" value="">
	<h4>Year</h4>
	<input type="text" name="year" value="">
	<input type="submit" name="prob_3_submit" value="Submit">
</form>
<br>

<h1>7) Scatter Chart</h1>
<form action="scatter_chart" method="post">
	<h4>Year1</h4>
	<input type="text" name="year1" value="">
	<h4>Year2</h4>
	<input type="text" name="year2" value="">
	<h4>Name</h4>
	<input type="text" name="name" value="">
	<input type="submit" name="prob_3_submit" value="Submit">
</form>
<br>

<br>