<h1>Sai Pranathi Polisetti</h1>
<h1>1001728199</h1>
<br>

Number of queries = {{ query_count }}<br>
Cache = {{ "Yes" if use_cache else "No" }}<br>
<br>
Execution time = {{ execution_time }}<br>
<br>
{% if result == 0 %}
	<p>No ouptput</p>
{% else%}
	

	<table>
	<tr>
		<th>Cost</th>
		<th>Prevalence</th>
		<th>Country Name</th>
		<th>Code</th>
	</tr>
	{% for item in result %}
		<tr>
			<td>{{ item[0]}}</td>
			<td>{{ item[1]}}</td>
			<td>{{ item[4]}}</td>
			<td>{{ item[3]}}</td>
		</tr>
	{% endfor %}
	</table>

{% endif %}
